# Teaching Tech configuration to suit standard Creality V2.4 8 bit mainboard and Fluidd
# Based on:
# https://github.com/KevinOConnor/klipper/blob/master/config/printer-creality-ender3max-2021.cfg
# Please ensure you PID autotune your heaters rather than just using my PID values!
# You will also need to substitute your own serial address after sending ls /dev/serial/by-id/* via SSH
# This machine has a Hemera extruder, so thermistor and rotation_distance values will be different to standard.
# This machine also is fitted with a BLtouch so X,Y & Z offsets will need to be calibrated too.

# DO NOT COPY THIS FILE WITHOUT CAREFULLY READING AND UPDATING IT
# FIRST. Incorrectly configured parameters may cause damage.

# See docs/Config_Reference.md for a description of parameters.

# [gcode_macro BED_TEMP]
# gcode:
#   set BED_TEMP = params.BED_TEMP

# [gcode_macro EXTRUDER_TEMP]
# gcode:
#   set EXTRUDER_TEMP = params.EXTRUDER_TEMP

# Editable in ender3_printer_data in fluidd/mainsale editors, and then in linux "link" to the file to view macro when in cr10 mode
# ln -s /home/pi/Ender3Pro_data/config/macros.conf macros.conf
[include macros.cfg]
[include timelapse.cfg]

[virtual_sdcard]
path: /home/pi/Cr10Max_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_AB0K56TU-if00-port0
#pin_map: arduino

[temperature_sensor raspberry_pi]
sensor_type: temperature_host

[stepper_x]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
microsteps: 16
rotation_distance: 40
endstop_pin: ^ar3
position_endstop: 0
position_max: 450
homing_speed: 50

[stepper_y]
step_pin: ar60
dir_pin: !ar61
enable_pin: !ar56
microsteps: 16
rotation_distance: 40
endstop_pin: ^ar14
position_endstop: 0
position_max: 450
homing_speed: 50

[stepper_z]
step_pin: ar46
dir_pin: !ar48
enable_pin: !ar62
microsteps: 16
rotation_distance: 8
#position_endstop: 0.0                     # disable to use BLTouch
#endstop_pin: ^ar18                         # disable to use BLTouch
endstop_pin: probe:z_virtual_endstop    # enable to use BLTouch
position_min: -5                        # enable to use BLTouch
position_max: 470

[safe_z_home]                         # enable for BLTouch
## POSITION IS RELATION TO NOZZLE! ADD THE BLTOUCH OFFSET TO NOT CRASH INTO BED
home_xy_position: 210, 210
speed: 50 #100
z_hop: 10
z_hop_speed: 5

[bltouch]                             # enable for BLTouch - fast-mode
sensor_pin: ^ar19
control_pin: ar11
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True
probe_with_touch_mode: True
stow_on_each_sample: false
x_offset: -27                         # modify as needed for bltouch location
y_offset: 0                           # modify as needed for bltouch location
#z_offset: 1                           # modify as needed for bltouch or run PROBE_CALIBRATE
speed: 10
samples: 2
sample_retract_dist: 5.0              # Can be set lower, example 2.5 depending on height of bltouch from bed
lift_speed: 40
samples_tolerance_retries: 3
samples: 2

[bed_mesh]                            # enable for BLTouch
speed: 100
mesh_min: 40, 40
mesh_max: 410, 410
algorithm: bicubic
probe_count: 12,12                     # more points due to large bed size
horizontal_move_z: 3
faulty_region_1_min: 97, 97
faulty_region_1_max: 103, 103

[extruder]
max_extrude_only_distance: 100.0
step_pin: ar26
dir_pin: ar28
enable_pin: !ar24
microsteps: 16
rotation_distance: 22.857           # Calibrate - see https://github.com/KevinOConnor/klipper/blob/master/docs/Rotation_Distance.md
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ar10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog13
min_temp: 0
max_temp: 280
pressure_advance: 0.32               # Calibrate - see https://github.com/KevinOConnor/klipper/blob/master/docs/Pressure_Advance.md

[input_shaper]
# Calibrate - https://www.klipper3d.org/Resonance_Compensation.html
#But apparently below 23 is not useful?
shaper_freq_x: 18.75 #100*3/16=18.75  #TT ex: 33.33
shaper_freq_y: 18.18 #100*2/11        #TT ex: 22.86
shaper_type: mzv

[firmware_retraction]
retract_length: 6.5
retract_speed: 40
unretract_extra_length: 0
#unretract_speed: 10

[controller_fan bed_psu]
pin: !ar15
heater: heater_bed
stepper: extruder
idle_timeout: 20

[controller_fan mainboard_fan]
pin: !ar12
#heater: extruder
idle_timeout: 20

[heater_fan my_nozzle_fan]
pin: !analog11
heater: extruder
heater_temp: 50.0

[heater_bed]
heater_pin: ar8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
min_temp: 0
max_temp: 120

[fan]
pin: ar9

[filament_switch_sensor e0_sensor]
pause_on_runout: True
runout_gcode:
    M600 ; pause macro
switch_pin: ar2

[printer]
kinematics: cartesian
max_velocity: 200
max_accel: 3000 #4000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5

#[display]
#lcd_type: st7920
#cs_pin: PB12
#sclk_pin: PB13
#sid_pin: PB15
#encoder_pins: ^PB14, ^PB10
#click_pin: ^!PB2

[screws_tilt_adjust]

screw4_name: front left screw
screw4: 65, 45
#measure front right as base now because the right side screws are prone to being losened for some reason
screw1_name: front right screw
screw1: 450, 45
screw2_name: rear right screw
screw2: 450, 430
screw3_name: rear left screw
screw3: 65, 430
horizontal_move_z: 10.
speed: 150
screw_thread: CW-M3

 


[board_pins arduino-mega]
aliases:
  ar0=PE0, ar1=PE1, ar2=PE4, ar3=PE5, ar4=PG5,
  ar5=PE3, ar6=PH3, ar7=PH4, ar8=PH5, ar9=PH6,
  ar10=PB4, ar11=PB5, ar12=PB6, ar13=PB7, ar14=PJ1,
  ar15=PJ0, ar16=PH1, ar17=PH0, ar18=PD3, ar19=PD2,
  ar20=PD1, ar21=PD0, ar22=PA0, ar23=PA1, ar24=PA2,
  ar25=PA3, ar26=PA4, ar27=PA5, ar28=PA6, ar29=PA7,
  ar30=PC7, ar31=PC6, ar32=PC5, ar33=PC4, ar34=PC3,
  ar35=PC2, ar36=PC1, ar37=PC0, ar38=PD7, ar39=PG2,
  ar40=PG1, ar41=PG0, ar42=PL7, ar43=PL6, ar44=PL5,
  ar45=PL4, ar46=PL3, ar47=PL2, ar48=PL1, ar49=PL0,
  ar50=PB3, ar51=PB2, ar52=PB1, ar53=PB0, ar54=PF0,
  ar55=PF1, ar56=PF2, ar57=PF3, ar58=PF4, ar59=PF5,
  ar60=PF6, ar61=PF7, ar62=PK0, ar63=PK1, ar64=PK2,
  ar65=PK3, ar66=PK4, ar67=PK5, ar68=PK6, ar69=PK7,
  analog0=PF0, analog1=PF1, analog2=PF2, analog3=PF3, analog4=PF4,
  analog5=PF5, analog6=PF6, analog7=PF7, analog8=PK0, analog9=PK1,
  analog10=PK2, analog11=PK3, analog12=PK4, analog13=PK5, analog14=PK6,
  analog15=PK7, ml70=PG4, ml71=PG3, ml72=PJ2, ml73=PJ3, ml74=PJ7,
  ml75=PJ4, ml76=PJ5, ml77=PJ6, ml78=PE2, ml79=PE6,
  ml80=PE7, ml81=PD4, ml82=PD5, ml83=PD6, ml84=PH2,
  ml85=PH7

[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.637
#*# pid_ki = 2.332
#*# pid_kd = 128.590
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.936
#*# pid_ki = 1.614
#*# pid_kd = 779.407
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.076250, 0.046250, -0.011250, -0.065000, -0.078750, -0.113750, -0.116250
#*# 	0.157500, 0.115000, 0.115000, 0.111250, 0.060000, -0.000000, -0.086250
#*# 	0.186250, 0.161250, 0.181250, 0.157500, 0.082500, -0.023750, -0.075000
#*# 	0.233750, 0.162500, 0.147500, 0.091250, 0.046250, -0.010000, -0.063750
#*# 	0.186250, 0.130000, 0.097500, 0.052500, 0.010000, -0.040000, -0.080000
#*# 	0.180000, 0.135000, 0.101250, 0.055000, 0.031250, -0.000000, -0.063750
#*# 	0.131250, 0.078750, 0.027500, 0.011250, -0.033750, -0.037500, -0.035000
#*# tension = 0.2
#*# min_x = 50.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 50.0
#*# x_count = 7
#*# max_y = 399.98
#*# mesh_x_pps = 2
#*# max_x = 399.98
#*#
#*# [bltouch]
#*# z_offset = 2.396
